.iconEditStyle {
  color: gray;
  font-size: 20px;
}

.card-truncate {
  min-height: 150px;
  max-height: 150px;
  overflow: hidden;
  text-overflow: clip;
}

.card-truncate:hover {
  max-height: 500px;
  overflow: visible;
  white-space: unset;
}